/* --------------------------------------------------
 ## COMPONENT: BUTTONS
-------------------------------------------------- */

/* Default styles
---------------------------- */
.btn {
  @include button-size($padding-base-vertical*1.4, $padding-small-horizontal*1.8, $font-size-base, $line-height-base, $border-radius-base);
  border: 0;
  font-family: $headings-font-family;
  text-transform: uppercase;
  letter-spacing: 2px;
  &:focus { outline: none; }
}

/* Alternate buttons
---------------------------- */
.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.btn-dark {
  @include button-variant($btn-dark-color, $btn-dark-bg, $btn-dark-border);
}
.btn-half-light {
  @include button-variant($btn-half-light-color, $btn-half-light-bg, $btn-half-light-border);
  border: 2px solid;
}
.btn-half-dark {
  @include button-variant($btn-half-dark-color, $btn-half-dark-bg, $btn-half-dark-border);
  &:hover { background-color: lighten($btn-half-dark-bg, 10%); }
}

/* Button sizes
---------------------------- */
.btn-lg {
  @include button-size($padding-base-vertical*3, $padding-base-horizontal*4, $font-size-base, $line-height-base, 100px);
  border-radius: 50px;
}
.btn-sm {
  @include button-size($padding-base-vertical, $padding-large-horizontal, $font-size-base, $line-height-base, $border-radius-small);
}
.btn-xs {
  @include button-size($padding-base-vertical, $padding-large-horizontal, $font-size-small, $line-height-base, $border-radius-small);
  font-family: $font-family-sans-serif;
}

/* Button shapes
---------------------------- */
.btn-round {
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  padding: 6px;
  width: 45px;
  height: 45px;
  &.btn-sm {
      width: 35px;
      height: 35px;
  }
  &.btn-lg {
      width: 55px;
      height: 55px;
  }
}

/* Special buttons
---------------------------- */
.btn-scrolltop {
  line-height: 35px;
  padding: 0;
  position: fixed;
  width: 40px;
  z-index: $zindex-tooltip;
  bottom: 18px;
  right: 18px;
  @include transition(0.4s);  
  @include scale(0.0);
  &.upscaled {
    @include scale(1.0);
  }
  @include breakpoint(xxs) {
    right: 13px;
    bottom: 13px;
  }
}
