/* --------------------------------------------------
 ## BASE: PRELOADER
-------------------------------------------------- */

/* Preloader styles
---------------------------- */
#preloader {
    position: fixed;
    width: 100%; 
    height: 100%;
    z-index: $zindex-preloader;
    background-color: $bg-primary;
    left: 0; top: 0;
    right: 0; bottom: 0;
    .aligner {
        height: 100%;
        width: 100%;
    } 
    .spinner {
        position: relative;
        top: 45%;
        width: 50px; 
        height: 40px;        
        margin: 0 auto;
        text-align: center;
        > div {
            background-color: $bg-white;
            display: inline-block;            
            height: 100%;
            width: 6px;  
            -webkit-animation: stretching 1.2s infinite ease-in-out;
            animation: stretching 1.2s infinite ease-in-out;                      
        }
        .bar1 { @include animation-delay(-1.2s); }        
        .bar2 { @include animation-delay(-1.1s); } 
        .bar3 { @include animation-delay(-1.0s); }        
        .bar4 { @include animation-delay(-0.9s); }
        .bar5 { @include animation-delay(-0.8s); }
    }
}

@-webkit-keyframes stretching {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretching {
    0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}